src/*.exe
src/joshgrantbucks
src/joshgrantbucksd
src/test_joshgrantbucks
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.joshgrantbucks

# Compilation and Qt preprocessor part
*.qm
Makefile
joshgrantbucks-qt
Joshgrantbucks-Qt.app

# Unit-tests
Makefile.test
joshgrantbucks-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
